.section {
  padding: 15px;
}

.section__content--text {
  text-align: left;
}

.section__h1 {
  text-align: center;
  font-size: 22px;
  color: hsl(180, 100%, 25%);
}

.section__paragraph {
  font-size: 20px;
  padding: 5px;
}

.section--bold {
  font-weight: bold;
}

.section__button {
  background-color: hsl(0, 0%, 83%);
  border-style: none;
  font-size: 14px;
  padding: 8px;
  margin: 5px;
  cursor: context-menu; 
}

.section__button--link {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  cursor: context-menu;
}

.section__button--size {
  font-size: 22px;
}
