.section {
  padding: 15px;
}

.section__content--text {
  text-align: left;
}

.section--h1 {
  text-align: center;
  font-size: 22px;
  color: hsl(180, 100%, 25%);
}

.section--paragraph {
  font-size: 20px;
  padding: 5px;
}


.section--bold{
  font-weight: bold;
}

.section__button {
  background-color: hsl(180, 100%, 25%);
  border-style: none;
  font-size: 14px;
  padding: 8px;
  margin: 5px;
  opacity: 0.8;
}

.section__button:hover {
  background-color: hsl(180, 100%, 35%);
}

.section__button--link {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
